body {
    transition: all 0.3s ease 0s;
    background-color: #fff;
    color: #333;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
        background-color: #333;
    }
}


html.dark body {
    color: #fff;
    background-color: #333;

}
html.light body {
    color: #333;
    background-color: #fff;
}

/*
html.dark .page_theme {
    background: url('') 0 0 / 100% no-repeat;
}
html.light .page_theme {
    background: url('') 0 0 / 100% no-repeat;
}
*/
.page_reset {
    opacity: 0;
    visibility: hidden;
}
.page_reset.active {
    opacity: 1;
    visibility: visible;
}
.page_reset::before{
    content: "x";
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 10px;
    height: 10px;
    font-size: 7px;
    border-radius: 50%;
    line-height: 10px;
    color: #fff;
    text-align: center;
    border-color: #666;
}
.page_text {
    line-height: 150%;

}
.page_text p:not(:last-child){
    margin-bottom: 10px;
}
.page_header {
    background: #f9f7f7; 

}
.page_action {
    background-color: #a09e9e;

}
